/*selectores*/

/* selector de elemento */
h1 {
    color: green;
    background-color: beige;
    text-align: center;
    padding: 20 px;
    font-size: 20 px;
}

/* selector de atributo 
h1[role="titulo"] {
    color: black;
}



 selector de clase 
.titulo {
    color: red;
    font-size: 30 px;
    background-color: aqua;
    
}
 selector de ID 
#titulo_huawei {
    color: yellow;
    font-size: 30 px;
    background-color: aqua;
} */


#div_temas {
                display: none;
            }


.product_cell {
    border: 2px solid blue;
    border-radius: 18px;
    padding: 10px;
    margin: 20px;
}

.laptop > h2 {
    color: blue;
}

.laptop > h3 {
    color: aquamarine;
    text-align: right;
    padding-right: 10px;
}


.celular > h2 {
    color: red;

}

.celular > h3 {
    color: rebeccapurple;
    text-align: right;
    padding-right: 10px;
}

.audif > h2 {
    color: green;
}

.audif > h3 {
    color: aquamarine;
    text-align: right;
    padding-right: 10px;
}


